*.py[cod]
*.db
*.sqlite3


# Packages
*.egg
*.egg-info
build
dist

# Sphinx
doc/_build
htmldocs

# tox
.tox

# nose - *not* supported for testing at the moment
.coverage
htmlcov

# misc
local
samples/noticeboard/data/google_certs.pem
samples/noticeboard/data/private.json
samples/scihub.copernicus.eu/scihub.copernicus.eu.crt
unittests/pyslet
samples/pyslet
samples/noticeboard/pyslet
pep8-count.txt
flake8-count.txt
# .DS_Store is a mac file that stores custom attributes of its containing folder
.DS_Store

* virtual env
py3env
py3-venv
py27-venv

* additional test scripts
test_xml*
unittests/data_xml20081126/choice.xml
